
<nav class="navbar navbar-inverse">
    <div>
        <h1 class="jumbotron">ACT-W Chicago</h1>  
        <!--<ul>
            <li><a class="nav-button">Event Info</a></li>
        </ul>-->
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
