<h3>Key notes & Sessions </h3>
<label class="text-warning" *ngIf="GetSessionsErrorMsg">{{GetSessionsErrorMsg}}</label>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let session of Sessions">
        <span>
            <a href="/sessionInfo/{{session.Id}}">{{session.Topic}} </a> by {{session.Speaker}}
        </span>
    </li>
</ul>

