<h1>Session Description:</h1>


<div class="card">
  <div class="card-block">
      <h3 class="card-title">{{sessionInfo.Topic}}</h3>
      <h6 class="card-subtitle">{{sessionInfo.Start}} to {{sessionInfo.End}}</h6>
      <br/>
    <p class="card-text">{{sessionInfo.Description}}</p>
    <div class="card-footer pull-sm-left">
       By {{sessionInfo.Speaker}}
    </div>
  </div>
</div>