<br/>
<div class="row">
    <div class="col-md-6">
        <p>Hello {{user.FirstName || "there"}}! we're very excited to be at Chicago. Looking forward to meet Chicagoland's women in technology! </p>
    </div>

    <div class="col-md-6">
            <label class="text-warning" *ngIf="RegistrationErrorMsg">{{RegistrationErrorMsg}}</label>
            <div class="row form-group">
                <label class="col-sm-3" id="firstNameLabel" for="userFN">First Name</label>
                <input class="col-sm-9" type="text" id="userFN" placeholder="first name" [(ngModel)]="user.FirstName"/>
            </div>
            <div class="row form-group">
                <label class="col-sm-3" id="lastNameLabel" for="userLN">Last Name</label>
                <input class="col-sm-9" type="text" id="userFN" placeholder="last name" [(ngModel)]="user.LastName"/>
            </div>
            <div class="row form-group">
                <label class="col-sm-3" id="userEmailLabel" for="userEmail">User Email</label>
                <input class="col-sm-9" type="text" id="userEmail" placeholder="enter email" [(ngModel)]="user.Email"/>
            </div>
            <div class="row form-group">
                <label class="col-sm-3" id="userPwdLabel" for="userPwd">Password</label>
                <input class="col-sm-9" type="password" id="userPwd" [(ngModel)]="user.Password" />
            </div>
            <button class="btn btn-primary" (click)="SubmitRegistration()">Register</button>
    </div>
</div>



